.setup-list-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.setup-header {
    margin-bottom: 2px;
}

.setup-list {
    display: grid;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

/* Desktop: 3 columns */

.setup-left {
    text-align: left;
}

.setup-center {
    text-align: center;
}

.setup-right {
    text-align: right;
}

@media screen and (max-width: 828px) {
    .setup-list-container {
        font-size: 12px;
        margin: 0;
    }

    .setup-list {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
        margin-left: 0;
        padding: 0;
        padding-left: 40px;
    }

    .setup-left,
    .setup-center,
    .setup-right {
        text-align: left;
    }
}