.setup-list-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.setup-header{
    margin-bottom: 2px;
}

.setup-list{
    display: grid;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin-left: 80px;
    margin-top: 0px;
}

@media screen and (max-width: 828px){
    .setup-list-container{
        font-size: 12px;
        margin: 0px;
    }
    
    .setup-list{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
