/* .nav-bar{
    align-items: center;
    background-image: url('../../assets/sienna_banner.png');
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 10px;
} */

.hero-banner{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 540px;
}

.nav-bar{
    align-items: center;
    background-color: rgb(141, 159, 137);
    /* border: solid black 8px;
    border-radius: 15px; */
    box-shadow: 0 6px 18px rgba(44, 52, 42, 0.473);
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 5px 0px;
    width: 100%;
}

.nav-button{
    color: rgb(44, 52, 42);
    font-size: 35px;
}

.nav-button:hover{
    /* border-left: solid black 8px;
    border-right: solid black 8px; */
    color: rgb(255, 250, 247);
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

/* Adding spacing between Video icon and links. */
.fa-video{
    margin-right: 5px;
}

@media screen and (max-width: 828px){
    .hero-banner{
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .nav-button{
        font-size: 20px;
        padding: 0;
    }
}