.nav-bar{
    align-items: center;
    background-image: url('../../assets/sienna_banner.png');
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    margin-bottom: 10px;
}

.nav-button:hover:{
    cursor: pointer;
}

.nav-bar li{
    list-style-type: none;
}

.nav-button{
    font-size: 40px;
}