*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: rgb(224,180,179);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
}

#root{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.standard-font{
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

footer{
  align-items: center;
  background-color: black;
  border-top: solid black;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-top: auto;
  padding: 5px 20px;
  text-align: center;
}

.socials-box{
  display: flex;
  column-gap: 15px;
}

.last-item{
  justify-self: flex-end;
}

.footer-text{
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px 2px pink;
}

@media screen and (max-width: 828px){
    footer{
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-text{
        font-size: 10px;
        text-wrap: nowrap;
    }
}
